*.pyc
**/__pycache__/
sdpcache/
experiments/

eval/genai_prompts/nltk_data/*
wandb/*
eval/genai_prompts/wandb/*
eval/genai_prompts/.env
exp_dump/

*.png
*txt
temp/*
tifa/.env
tifa/cache
t2v/t2v_metrics/cache

temp.py

DEL/*

hf_cache/*
.locks/*
models--stabilityai--stable-diffusion-2-1/*
models--CompVis--stable-diffusion-v1-4/*
models--stabilityai--stable-diffusion-xl-base-1.0/*

run.sh
scorers/
qsub_runs/