*.pyc
**/__pycache__/
sdpcache/
experiments/

eval/genai_prompts/nltk_data/*
wandb/*
eval/genai_prompts/wandb/*
eval/genai_prompts/.env
exp_dump/*

*.png
*txt
temp/*
tifa/.env
tifa/cache
t2v/t2v_metrics/cache

temp.py